Package: com.adaminsull.thekirbylover.linkopener
Name: LinkOpener
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Open web pages in their apps
Maintainer: thekirbylover
Author: thekirbylover
Section: Tweaks
