Package: com.adaminsull.thekirbylover.LinkOpener
Name: LinkOpener
Pre-Depends: firmware (<< 6.0)
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Open links in 3rd party app
Maintainer: adaminsull and thekirbylover 
Author: adaminsull and thekirbylover 
Section: Tweaks
