<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App.net Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>AppDotNetAlphaUser</string>
			<key>label</key>
			<string>alpha.app.net/dalton</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cydia</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>CydiaPackage</string>
			<key>label</key>
			<string>cydia.saurik.com/package/cydia</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dict.cc</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>DictccTranslation</string>
			<key>label</key>
			<string>dict.cc/?s=hallo</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>eBay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>EBayListing</string>
			<key>label</key>
			<string>ebay.com/itm/Example/3382073018</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>EBaySearch</string>
			<key>label</key>
			<string>ebay.com/sch/?_nkw=Example</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Facebook</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>FacebookUser</string>
			<key>label</key>
			<string>facebook.com/zuck</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>GitHubDotCom</string>
			<key>label</key>
			<string>github.com</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>GitHubGist</string>
			<key>label</key>
			<string>gist.github.com</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>iFile/Filza</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>File</string>
			<key>label</key>
			<string>file:///var/mobile/Example.txt</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>IMDb</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>IMDBTitle</string>
			<key>label</key>
			<string>imdb.com/title/tt0088763</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Instagram</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>InstagramUser</string>
			<key>label</key>
			<string>instagram.com/kevin</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>InstagramTag</string>
			<key>label</key>
			<string>instagram.com/explore/tags/cat</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>InstagramLocation</string>
			<key>label</key>
			<string>instagram.com/explore/locations/1</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reddit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>RedditSubreddit</string>
			<key>label</key>
			<string>reddit.com/r/reddit.com</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>RedditThread</string>
			<key>label</key>
			<string>reddit.com/r/reddit.com/comments/87/example/</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>RedditShortener</string>
			<key>label</key>
			<string>redd.it/87</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tumblr</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>TumblrBlog</string>
			<key>label</key>
			<string>staff.tumblr.com</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>TumblrPost</string>
			<key>label</key>
			<string>staff.tumblr.com/post/34933619/example</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>TwitterUser</string>
			<key>label</key>
			<string>twitter.com/jack</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>TwitterStatus</string>
			<key>label</key>
			<string>twitter.com/jack/status/20</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vine</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>VineUser</string>
			<key>label</key>
			<string>vine.co/dom</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>VineVideo</string>
			<key>label</key>
			<string>vine.co/v/bOIqn6rLeID</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Yelp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.linkopener</string>
			<key>key</key>
			<string>YelpAll</string>
			<key>label</key>
			<string>yelp.com</string>
			<key>PostNotification</key>
			<string>org.thebigboss.linkopener/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBLOLinkOpenerAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
	</array>
	<key>title</key>
	<string>LinkOpener</string>
</dict>
</plist>
